button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #757575;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;

    &:hover {
        background-color: rgba(158, 158, 158, .2);
    }

    &:active {
        background-color: rgba(158, 158, 158, .4);
    }

    .material-icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-12px, -12px);
        line-height: 24px;
        width: 24px;
        vertical-align: middle;
    }
}

button.icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
}

.button {
    &--center {
        display: block;
        margin: 0 auto;
    }
}

input {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #757575;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
}


/*Анимация*/
.slide-enter {
    transform: translateX(-100%);
}

.slide-enter.slide-enter-active {
    transform: translateX(0);
    transition: all .5s;
}

.slide-leave {
    transform: translateX(0);
}

.slide-leave.slide-leave-active {
    transform: translateX(100%);
    transition: all .5s;
}

.slide-appear {
    opacity: 0;
}

.slide-appear.slide-appear-active {
    opacity: 1;
    transition: all .5s;
}
